/*
@import url(font-awesome.min.css);
@font-face {
    font-family: 'myFont';
    src: url('../fonts/font.ttf');
    font-weight: normal;
    font-style: normal;
}*/

/**
**reset
*/
html,body,div,span,a,img,input,button,select,option{
    margin:0;
    padding:0;
    list-style: none;
   /* font-family: myFont;*/
}
body,html{
	background-color: #f2f3f4;
	/*font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53","Arial,sans-serif";*/
	/*font-family: myFont;*/
    font-size:14px;
    height: 100%;

}
body{
    background:url("../img/background.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
/**
**清除input textarea原生样式
*/
 input,textarea{
     outline:none;
 }
/* for Chrome */
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 0px;
}
/**
**分页
*/
.pagination{
    width:auto;
    background-color:#fff;
    padding:10px;
    border-collapse:collapse;
}
.pagination .page-item{
    display: inline-block;
    list-style: none;
    background-color:#fff;
    border:1px solid #000;
    color:#000;
    min-width:20px;
    height:20px;
    text-align:center;
    padding:5px;
    margin: 0 0 0 -1px;
    cursor:pointer;
}
.pagination .page-item .page-link{
    text-decoration-line: none;
    color:#000;
}
.pagination .page-item.active{
    border:1px solid #000;
    background-color:#000;
    color:#fff;
}
.pagination .page-item.active .page-link{
    color:#fff;
}

/**
**表单
 */
.form-input-wrap{
    height:50px;
    border-bottom:1px solid #ececec;
    position:relative;
    left:0;top:0;
}
.form-input-span{
    display: inline-block;
    line-height: 48px;
    height:100%;
    width:60px;
    position:absolute;
    left:0;
    top:0;
    z-index:11;
}
.form-input-input{
    border:0 solid #ccc;
    height:100%;
    width:100%;
    padding-left:60px;
    position:absolute;
    left:0;
    top:0;
    box-sizing: border-box;
    z-index:10;
}
/**
**导航活跃
*/
.nav-active{
	color:red;
}
/**
**顶部导航
*/
.nav-wrap{
    width:100%;
    height:38px;
    background-color:#242424;
    color:#fff;
    text-align:center;
    line-height:38px;
    position:fixed;
    left:0;
    top:0;
    z-index: 99;
}
/**
**顶部导航返回
*/
.nav-wrap-back{
    position:absolute;
    left:18px;
    top:0;
    font-size:1.6rem;
}
/**
**顶部导航标题
*/
.nav-wrap-title{
    font-size:1.2rem;
}
/**
**框架
*/
.wrap{
    max-width:750px;
    width:100%;
    height: 100%;
    background-color: #FFF;
    margin:0 auto;
    position:relative;
    left:0;
    top:0;
}

/**
**自定义轮播图的按钮
*/
.swiper-pagination-bullet-active{
    height: 3px !important;
    width:1.5rem !important;
    border-radius: 0 !important;
    background-color:#fff !important;
}
.swiper-pagination-bullet{
    height:3px !important;
    width:1.5rem !important;
    border-radius: 0 !important;
    
}
/**
**商品轮播图
*/
.slide-swipe {
    width: 100%;
    height:300px;
    color: #fff;
    font-size: 30px;
    text-align: center;

}
@media screen and (min-width:750px) {
    .slide-swipe {
        width: 100%;
        height:500px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    
    }
}

.slide {
width:100%;

}
.slide a {
    display: block;
    width:100%;

    
}
.mer-img{
    width:100%;
    height:300px;
}
@media screen and (min-width:750px) {
    .mer-img{
    width:100%;
    height:500px;
}
}
/**
**轮播图
*/
.common-swipe-wrap {
    width: 100%;  
    color: #fff;
    font-size: 30px;
    text-align: center;

}
.common-swipe {
    width:100%;
}
.common-swipe-item{
    display: block;
    width:100%;
}
.common-swipe-item-img{
    width:100%;

}

/*
**底部导航
*/
.mer-footer{
    width:100% !important;
    height:50px;
    position: fixed;
    background-color:#fff;
    left: 50%;
    bottom:0;
    z-index: 99999;
    max-width: 750px;
   transform: translate(-50%,0);
  }
  .mer-footer-div{
  cursor:pointer;
  display: inline-block;
  height:50px;
  position: absolute;
  top:0;
  text-align: center;
      opacity:0.6;
  
  }
  .mer-footer-div a{
      display: inline-block;
  height:100%;
  width:100%;
  color:#000;
  position: relative;
  left: 0;
  top:0;
  text-align: center;
  }
  .mer-footer-div a img{
      display: inline-block;
  width:28px;
  position: absolute;
  left: 50%;
  top:0;
  margin-top:8px;
  transform: translate(-50%,0);
  }
  .mer-footer-div a span{
  display: inline-block;
  font-size:0.8rem;
  width:100%;
  position: absolute;
  left: 50%;
  top:30px;
  transform: translate(-50%,0);
  }
/**
**分割
*/
.division{
    margin:0;
    padding:0;
    height:10px;
    width:100%;
    background-color:#f2f3f4;
}
/**
**竖线
*/
.vertical-line-wrap{
    margin:1% 20px;
    position: relative;
    left:0;
    top:0;
    display: inline-block;
}
.vertical-line-title{
    position: absolute;
    left:50%;
    top:50%;
    z-index:50;
     transform: translate(-50%,-50%);
     background-color:#fff;
}
.vertical-line{
    display: inline-block;
    width: 1px;
    z-index:2;
    height:100%;
    background-color:#ccc;
}
/**
**公共的标题 格式：{{ - 文字 -}}
*/
.common-title-wrap{
    display: inline-block;
    width:100%;
    text-align:center;
    color:#858585;
    margin:10px 0;
}
.common-title-line{
    display: inline-block;
    height: 2px;
    width:10px;
    background-color: #858585;
    vertical-align: middle;
}
.common-title-text{
    display: inline-block;
}
/**
**公共的标题 格式：{{ 文字 }}
*/
.common-title-single{
    padding:3%;
    text-align: center;
    font-size:1.4rem;
}
/**
**公共的标题 格式：{{ 文字 }}
*/
.common-title-single-bold{
    padding:3%;
    text-align: center;
    font-size:1.4rem;
    font-weight: bold;
}
/**
**底部距离
*/
.margin-bottom50{
    margin-bottom:60px;
}
/**
**固定顶部
*/
.fixedtop{
    position:fixed !important;
    left:0;
    top:0;
}
/**
**四方阁
*/
.fourbox{
    display: inline-block;
    width:25%;
    text-align: center;
}
.fourbox-item{
    width:100%;
    text-align: center;
    display: block;
    text-decoration: none;
}
.fourbox-item-img{
width:100%;
}
.fourbox-item-text{
    display: inline-block;
    color:#000;
    width:100%;
}
/**
**二方阁
*/
.twobox{
    display: inline-block;
    width:50%;
    text-align: center;
}
.twobox-item{
    width:100%;
    text-align: center;
    display: block;
    text-decoration: none;
}
.twobox-item-img{
    width:100%;
}
.twobox-item-text{
    display: inline-block;
    color:#000;
    width:100%;
}
/**
**三方盒
*/
.threebox{
    display: inline-block;
    width:25%;
    padding:0 4%;
    text-align: center;
}
.threebox-item{
    width:100%;
    display: block;
    text-decoration: none;
}
.threebox-item-img{
    width:100%;
}
.threebox-item-text{
    display: inline-block;
    width:100%;
    overflow:hidden;
    height:3rem;
    color:#000;

}
/**
**单品封面
*/
.common-single-wrap{
    width:100%;
}
.common-single{
    width:100%;
}
.common-single-img{
    width:100%;
}
/**
**一行多个商品
*/
.mer-wrap{
    width:98%;
    padding:0 1%;
}
.mer-item-wrap{
    display: inline-block;
    width:40%;
    margin:1%;
    font-size: 0.8rem;
}
/**
**商品详情
*/
.mer-item{
    display: inline-block;
    border:0px solid #ececec;
}
.mer-item-img{
    width:100%;
    display: inline-block;
}
.mer-item-title{
    padding:3%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.mer-item-pricewrap{
    display: inline-block;
    margin-bottom:3%;
    padding:3%;
    font-weight:bolder;
    font-size:0.8rem;
}
/**
**原始价格
*/
.mer-item-oldprice{
    color:#ccc;
    text-decoration:line-through;
    display: inline-block;
    font-size :0.6rem;
}
/**
**正常价格
*/
.mer-item-price{
    color:red;
    display: inline-block;
}
/**
**会员价格字体
*/
.mer-item-memberfont{
    color:#C59F51;
    display: inline-block;
    font-size:0.6rem;
    background-color: #000;
}
/**
**会员价格
*/
.mer-item-memberprice{
    color:#C59F51;
    display: inline-block;
    margin-top:0.2rem;
}
/**
**一行两个商品
*/
.mer2-wrap{
    width:100%;
}
.mer2-item-wrap{
    display: inline-block;
    width:47%;
    margin:1%;
    font-size: 1rem;
}
.mer2-item{
    display: inline-block;
    margin-top:30px;
    width:80%;
    /*border:1px solid #ececec;*/
}
.mer2-item-img{
width:80%;
    height: 100px;

}
.mer2-item-title{
    padding:0 6%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    color:#fff;
    height: 3rem;
}
.mer2-item-pricewrap{
    padding:3%;
    font-weight:bolder;
}
.mer2-item-oldprice{
    color:#ccc;
    text-decoration:line-through;
}
.mer2-item-price{
}
.mer2-item-oldprice2{
    color:#ccc;
    text-decoration:line-through;
    font-size:0.8rem;
}
.mer2-item-price2{
    color:red;
}
.mer2-item-tag-wrap{
    padding:3%;
}
.mer2-item-tag{
    display: inline-block;
    margin:0.2rem;
    border:1px solid #f93939;
    box-sizing :border-box;
    color:#f93939;
    font-size: 0.7rem;
    vertical-align: top;
}
/**
**一行三个商品
*/
.mer3-wrap{
    width:98%;
    padding:0 1%;
    text-align:center;
}
.mer3-item-wrap{
    display: inline-block;
    width:31%;
    margin:1%;
    font-size: 1rem;
    position: relative;
    left:0;
    top:0;
}
/**
**固定图标
*/
.mer3-icon{
    position: absolute;
    left:0;
    top:0;
    width:1.72rem;
}
.mer3-item{
    display: inline-block;
    text-align:left;
}
.mer3-item-img{
width:100%;

}
.mer3-item-title{
    padding:3%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    color:#000;
    text-decoration: none;
}
.mer3-item-pricewrap{
    padding:3%;
    font-weight:bolder;
}
.mer3-item-oldprice{
    color:#ccc;
    text-decoration:line-through;
    font-size: 0.8rem;
}
.mer3-item-price{
    font-size: 1rem;
    color:red;
}
/**
**查看全部
*/
.common-product-all-wrap{
    height:50px;
    width:50px;
    background-color: #ececec;
    text-align: center;
    border-radius: 100%;
    font-size: 0.6rem;
    text-decoration: none;
    color:#000;
    display: inline-block;
}
.common-product-all-top{
    width:90%;
    height:30px;
    line-height: 40px;
}
.common-product-all-line{
    width:80%;
    height: 3px;
    background-color: #999;
    margin:auto;
}
.common-product-all-bottom{
    width:90%;
    height:17px;
    line-height: 17px;
}
